#textdomain wesnoth-Unto_Others
[textdomain]
    name="wesnoth-Unto_Others"
    path="data/add-ons/Unto_Others/translations"
[/textdomain]

[campaign]
    #textdomain wesnoth-Unto_Others
    id=UNTO_OTHERS
    name= _ "Unto Others"
    abbrev= _ "UNTO"
    define=CAMPAIGN_UNTO_OTHERS
    # We only want one difficulty, for control. I know.
    difficulties=NORMAL

    # image=data/add-ons/Unto_Others/images/campaign_image.png
    description= _ "You have snuck into the enemy's city under cover of night to disrupt the Yalthans' terrible ritual. Get in, lay low and protect your mages, get out the same way you came in.
    
    This scenario was made for research purposes, investigating investment in objectives in relation to tension. If you're not a participant (you'll know if you are), feel free to play anyway - I hope you have a great time!.
    
    Participants:
    * You'll be given a link to an online questionnaire when the scenario ends, if you haven't got it already. It shouldn't take long, but it <i>is</i> absolutely necessary to the experiment. Please fill it out if you can.
    * No personal data is collected by either the savegame or the questionnaire. The questionnaire only asks your thoughts on what happens in the scenario, and responses are anonymous. I'll likely share the data with anyone who wishes to see, for the sake of academic openness, but I don't think there's anything at all sensitive in there.
    * Have fun! Sure, this is For Science, but I hope it's still enjoyable for you.
    
    All the best,
    Dan"
    first_scenario=01_unto_others
[/campaign]

#ifdef CAMPAIGN_UNTO_OTHERS
[binary_path]
    path="data/add-ons/Unto_Others"
[/binary_path]

[lua]
    code="wesnoth.require '~add-ons/Unto_Others/lua/utils.lua'"
[/lua]

[units]
    {~add-ons/Unto_Others/units}
[/units]
{~add-ons/Unto_Others/scenarios}
{~add-ons/Unto_Others/maps}
{~add-ons/Unto_Others/lua}
#endif